<h1>Thêm bài viết mới</h1>
<form class="mt-3" action="/blogs/add" method="POST">
    <div class="form-group">
        <label for="title">Tiêu đề</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="content">Nội dung</label>
        <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
<a href="/blogs"> < Quay lại danh sách bài viết</a>