<main class="p-5">
    <h2>Welcome to the homepage</h2>
    <div class="overflow-x-auto mt-3">
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="sidebar-dark-primary text-white uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-left">Title</th>
                    <th class="py-3 px-6 text-left">Content</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6">Project</td>
                    <td class="py-3 px-6">node-with-admin</td>
                </tr>
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6">Database</td>
                    <td class="py-3 px-6">Cluster0 (from cloud.mongodb) <br> uyendo0203 / vpMG3rpRFKL87JjM</td>
                </tr>
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6">Github</td>
                    <td class="py-3 px-6">
                        <a target="_blank" href="https://github.com/uyendo0203/node-with-admin">
                            https://github.com/uyendo0203/node-with-admin
                        </a>
                    </td>
                </tr>
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6">Vercel</td>
                    <td class="py-3 px-6">
                        <a target="_blank" href="https://vercel.com/uyendo0203s-projects/node-with-admin/deployments">
                            https://vercel.com/uyendo0203s-projects/node-with-admin/deployments
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
</main>

